#globalmenu, #globalthing { background: url('http://i.somethingawful.com/globalcss/bg.png'); font: bold 11px sans-serif; text-align: center; width: 100%; }
#globalmenu ul { list-style: none; margin: 0; padding: .3em 0; position: relative; z-index: 1; }
#globalmenu a { color: #fff; text-decoration: none; }
#globalmenu a:hover { text-decoration: underline; }
#globalmenu li { border-left: 1px solid #fff; display: inline; margin: 0; padding: 0 .7em; }
#globalmenu li.first { border-left: none; }
